ServerAliveInterval 10
ServerAliveCountMax 60

VerifyHostKeyDNS yes

# TODO: test and enable?
#Host *
#  KeepAlive yes
#  Compression yes
#  VisualHostKey yes
#  ForwardAgent no

Host aur.archlinux.org
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/id_rsa_aur

Host github.com
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/id_rsa_github

Host bitbucket.org
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/id_rsa_bitbucket

Host git.asterix.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/id_rsa_git_asterix_cz

Host archlinux.podgorny.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/id_rsa_archlinux_podgorny_cz

Host atxpkg.asterix.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/id_rsa_atxpkg

Host atxpkg-dev.asterix.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/id_rsa_atxpkg
