ServerAliveInterval 10
ServerAliveCountMax 60

VerifyHostKeyDNS yes

# TODO: test and enable?
#Host *
#  KeepAlive yes
#  Compression yes
#  VisualHostKey yes
#  ForwardAgent no

# the IdentityFile is duplicated to support both direct decrypted key file access
# and private keys loaded to ssh-agent
# (note that for the ssh-agent case only the .pub files are included - the associated
# private key is extracted from the ssh-agent by fingerprint)

# without this record, connecting to any host tries to use all ssh-agent keys and
# you get fucked for too many failed attempts
Host *
  IdentitiesOnly yes

Host aur.archlinux.org
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/ssh/id_rsa_aur
  IdentityFile ~/.ssh/from_agent/id_rsa_aur.pub

Host github.com
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/ssh/id_rsa_github
  IdentityFile ~/.ssh/from_agent/id_rsa_github.pub

Host bitbucket.org
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/ssh/id_rsa_bitbucket
  IdentityFile ~/.ssh/from_agent/id_rsa_bitbucket.pub

Host git.asterix.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/ssh/id_rsa_git_asterix_cz
  IdentityFile ~/.ssh/from_agent/id_rsa_git_asterix_cz.pub

Host archlinux.podgorny.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/ssh/id_rsa_archlinux_podgorny_cz
  IdentityFile ~/.ssh/from_agent/id_rsa_archlinux_podgorny_cz.pub

Host atxpkg.asterix.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/ssh/id_rsa_atxpkg
  IdentityFile ~/.ssh/from_agent/id_rsa_atxpkg.pub

Host atxpkg-dev.asterix.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/ssh/id_rsa_atxpkg
  IdentityFile ~/.ssh/from_agent/id_rsa_atxpkg.pub

Host deb.asterix.cz
  IdentitiesOnly yes
  IdentityFile ~/dotfiles/decrypted/ssh/id_rsa_deb_asterix_cz
  IdentityFile ~/.ssh/from_agent/id_rsa_deb_asterix_cz.pub
